.bg {
    overflow: hidden;
    margin: 2vh auto;
    max-width: 95%;
    border-radius: 6vh;
}

.bg__img {
    object-fit: cover;
}


@media (min-width: 550px) {

    .bg {
        height: 30vh;
        margin: 2vh auto
   }
}
