.bg {

}

.bg__img {
    padding: 2vh 2vh 0 2vh;
    border-radius: 6vh;
    max-width: 100%;
}


@media (min-width: 500px) {
   
}

@media (min-width: 550px) {

    .bg {
        /* height: 30vh; */
    }
    .bg__img {

    }
    
}


@media (min-width: 700px) {
    
}

@media (min-width: 800px) {

}


@media (min-width: 900px) {

}

@media (min-width: 1050px) {
    
}


@media (min-width: 1700px) {

}