@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Montserrat+Subrayada:wght@400;700&family=Playwrite+ID:wght@100..400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

:root {
    scroll-behavior: smooth;

    --title-font: "Montserrat Subrayada", sans-serif;

    --bg-color: rgba(215, 241, 236, 0.264);

    --btn-bg-color: #c8d9d690;
    --btn-shadow-color1: rgba(50, 50, 93, 0.25);
    --btn-shadow-color2:  rgba(0, 0, 0, 0.3);
    --btn-border-color: #151e21;
    --btn-text-color: #151e21;
    --checkbx-accent-color: #abbcb9be;
    --row-accent-color: #85abc363;
    --play-btn-bg-color: #7294a9a1;
    --lbl-text-color: #b6b3b3;

    --mean-color: #5e809ba2;
    --median-color: #85d2d8a3;
    --mode-color: #f5c1bb92;
    --max-color: #bc969d9d;
    --min-color: #da9d8994;

    --mean-weak-color: #5e809b30;
    --median-weak-color: #85d2d82a;
    --mode-weak-color: #f5c1bb37;
    --max-weak-color: #bc969d27;
    --min-weak-color: #da9d8933;

}



body {

    background: var(--bg-color);
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: auto;
}

a {
    text-decoration: none;
}
