@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Montserrat+Subrayada:wght@400;700&family=Playwrite+ID:wght@100..400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

:root {
    scroll-behavior: smooth;

    --title-font: "Montserrat Subrayada", sans-serif;
    --btn-bg-color: #ade0e357;
    --btn-shadow-color1: rgba(50, 50, 93, 0.25);
    --btn-shadow-color2:  rgba(0, 0, 0, 0.3);
    --btn-border-color: #151e21;
    --btn-text-color: #151e21;
    --checkbx-accent-color: #7294a9a1;

}

body {

}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: auto;
}

a {
    text-decoration: none;
}
