.f0 {
    position: relative;
    padding: 5vw 5vw;
    display: flex ;
    flex-direction: column;
    justify-items: center;
}

.f0__title {
    margin: 3vh 0 3vh 4vh; 
    font-family: var(--title-font);
    font-size: 1.3em;
}

.f0__label {
    margin: 0 0 3vh 4vh;
    text-wrap: pretty;
    font-size: 0.9em;
    color: var(--lbl-text-color)
}

.f0__f0-btn,
.f0__f0-plot-btn,
.f0__f0-spectro-btn,
.f0__spectro-btn {
    margin: 3vh 3vh;
    padding: 0 2vw;
    background: var(--btn-bg-color);
    box-shadow: var(--btn-shadow-color1) 0px 6px 12px -2px, var(--btn-shadow-color1) 0px 3px 7px -3px;
    border-radius: 2vh;
    border-width: 0;
    height: 5vh;
    text-align: center;
    font-weight: 600;
}


.f0__f0-btn:hover,
.f0__f0-plot-btn:hover,
.f0__f0-spectro-btn:hover,
.f0__spectro-btn:hover {
    border-color: var(--btn-border-color);
    border-width: 1px;
    color: var(--btn-text-color);
}


.f0__f0-btn:active,
.f0__f0-plot-btn:active,
.f0__f0-spectro-btn:active,
.f0__spectro-btn:active {
    border-width: 2px;
}


.f0__check {
    margin: 2vh 5vw 1vh;
    display: flex;
    gap: 3vw;
    justify-content: space-evenly;

}

.f0__check-label{
    text-align: center;
}


.f0__check-option,
.f0__check-all {
    accent-color: var(--checkbx-accent-color);
    transform: scale(2);
    margin: 1vh;
}

.f0__tablecont-table {
    visibility: collapse;
    margin: auto;
    width: 90%;
    float: center;
    text-align: left;
}


th, td {
    padding: 1vh;
}


.f0__tablecont-table-playbtn {
    margin: auto;
    border: none;
    border-radius: 2vh;
    background-color: var(--play-btn-bg-color);
}

.f0__tablecont-table-playbtn-icon {
    width: 30px;
    height: auto;
}


tr.min:hover {
    background-color: var(--min-weak-color);
}

tr.max:hover {
    background-color: var(--max-weak-color);
}

tr.mean:hover {
    background-color: var(--mean-weak-color);
}

tr.median:hover {
    background-color: var(--median-weak-color);
}

tr.mode:hover {   
    background-color: var(--mode-weak-color);
}



button.min {
    background-color: var(--min-color);
}

button.max {
    background-color: var(--max-color);
}

button.mean {
    background-color: var(--mean-color);
}

button.median {
    background-color: var(--median-color);
}

button.mode {   
    background-color: var(--mode-color);
}

button.min:hover, 
button.max:hover, 
button.mean:hover, 
button.mode:hover, 
button.median:hover {
    box-shadow: var(--btn-shadow-color1) 0px 6px 12px -2px, var(--btn-shadow-color1) 0px 3px 7px -3px;
}

button.min:active, 
button.max:active, 
button.mean:active, 
button.mode:active, 
button.median:active {
    box-shadow: var(--btn-shadow-color1) 0px 6px 12px -2px, var(--btn-shadow-color1) 0px 3px 7px -3px;
}


.xy {
    width: 90vw;
}

.f0__plot {
    margin: auto;
    max-width: 90vw;
}


.f0__spectrogram-cont,
.f0__f0-spectrogram-cont {
    background-color: var(--img-bg-color);
    margin: auto;
}


.f0__spectrogram-cont-img,
.f0__spectrogram-cont-f0img {
    margin: auto;
}


@media (min-width: 500px) {
    .f0__tablecont {
        margin-left: 5vw;
    }
}

@media (min-width: 550px) {
    .f0__f0-btn,
    .f0__f0-plot-btn,
    .f0__f0-spectro-btn,
    .f0__spectro-btn,
    .f0__check {
        margin: 3vh 10vh;
    }

    .f0__title,
    .f0__label {
        margin-left: 11vh;
    }

    .f0__tablecont {
        margin-left: 7vw;
    }
}


@media (min-width: 700px) {
    .f0__f0-btn,
    .f0__f0-plot-btn,
    .f0__f0-spectro-btn,
    .f0__spectro-btn,
    .f0__check {
        margin: 4vh 17vh;
    }

    .f0__title,
    .f0__label {
        margin-left: 18vh;
    }

    .f0__tablecont {
        margin-left: 11vw;
        margin-right: 5vw ;
    }

    .f0__plot,
    .f0__spectrogram-cont,
    .f0__f0-spectrogram-cont {
        width: 75vw;
    }
}

@media (min-width: 800px) {
    .f0__plot,
    .f0__spectrogram-cont,
    .f0__f0-spectrogram-cont {
        width: 70vw
    }

    .f0 {
        padding: 2vw 5vw;
    }
}


@media (min-width: 900px) {
    .f0__f0-btn,
    .f0__f0-plot-btn,
    .f0__f0-spectro-btn,
    .f0__spectro-btn,
    .f0__check {
        margin: 4vh 22vh;
    }

    .f0__title {
        margin: auto;
    }

    .f0__label {
        margin: 4vh 22vh
    }

    .f0__tablecont {
        margin-left: 13vw;
        margin-right: 6vw ;
    }

    .f0__plot,
    .f0__spectrogram-cont,
    .f0__f0-spectrogram-cont {
        width: 60vw;
    }
}

@media (min-width: 1050px) {
    .f0__f0-btn,
    .f0__f0-plot-btn,
    .f0__f0-spectro-btn,
    .f0__spectro-btn,
    .f0__check {
        width: 40vw;
        margin: 5vh auto;
    }

    .f0__tablecont {
        width: 40vw;
        margin: auto;
        padding-left: 4vw;
    }

    .f0__label {
        margin: 4vh 30%
    }

}


@media (min-width: 1700px) {
    .f0__plot,
    .f0__spectrogram-cont,
    .f0__f0-spectrogram-cont {
        width: 900px;
    }

    .f0__label {
        margin: 4vh 10%
    }
}