.upload {
    padding: 3vw 5vw;
}


h1 {
    font-size: 1.6em;
    text-align: center;
    font-family: var(--title-font);
    padding-bottom: 4vh;
    margin: 2vh 0;
}


.upload__title-div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    align-content: center;
    gap: 5vw;
    margin: 0 3vh
}

.upload__title-div-title {
    font-family: var(--title-font);
    font-size: 1.3em;
    margin-bottom: 3vh;
}


.upload__img {
    width: 20px;
    height: 22px;
    margin-bottom: 3.5vh;
    display: none;
}


.upload__label {
    margin: auto 4vh 3vh;
    text-wrap: pretty;
    font-size: 0.9em;
    color: var(--lbl-text-color)
}

.upload__out {
    margin: 5vh auto auto auto; 
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 5vh
}

.upload__out-input-file {
    padding-bottom: 2vh ;
    color: transparent;
    overflow: hidden;    
}


.upload__out-input-file::-webkit-file-upload-button {
    margin: auto;
    border-width: 0;
    border-radius: 2vh;
    height: 5vh;
    text-align: center;
    font-weight: 600;
    background-color: transparent;
    width: 100%;
    background: var(--btn-bg-color);
    box-shadow: var(--btn-shadow-color1) 0px 6px 12px -2px, var(--btn-shadow-color1) 0px 3px 7px -3px;
}

.upload__out-input-file,
.upload__out-upload-btn,
.upload__out-play-btn {
    margin: 0 3vh;
    padding: 0 3vw;
    background: var(--btn-bg-color);
    box-shadow: var(--btn-shadow-color1) 0px 6px 12px -2px, var(--btn-shadow-color1) 0px 3px 7px -3px;
    border-radius: 2vh;
    border-width: 0;
    height: 5vh;
    text-align: center;
    font-weight: 600;
}


.upload__out-input-file::-webkit-file-upload-button:hover,
.upload__out-upload-btn:hover,
.upload__out-play-btn:hover {
    border-color: var(--btn-border-color);
    border-width: 1px;
    color: var(--btn-text-color);
}



.upload__out-input-file::-webkit-file-upload-button:active,
.upload__out-upload-btn:active,
.upload__out-play-btn:active {
    border-width: 2px;
}


.upload__out-play {
    float: inline-end;
    margin: auto 3vh;
    display: none;
}

.upload__out-play-btn {
    display: none;}

.upload__out-play-audio {
    margin-top: 0.5vh;
    width: 100%;

}


@media (min-width: 550px) {

    .upload__out-upload-btn,
    .upload__out-play-btn,
    .upload__out-input-file,
    .upload__out-play {
        margin: 3vh 10vh;
    }

    .upload__out-input-file::-webkit-file-upload-button {
        margin-left: 0;
        width: 100%;
    }

    .upload__title-div,
    .upload__label {
        margin-left: 11vh;
    }

    .upload__out {
        gap: 1vh;
        margin-top: auto
    }

    .upload {
        padding-top: 1vh;
    }
}


@media (min-width: 700px) {
    
    .upload__out-input-file,  
    .upload__out-upload-btn,
    .upload__out-play-btn,
    .upload__out-play {
        margin: 4vh 17vh;
    }

    .upload__title-div,
    .upload__label {
        margin-left: 18vh;
    }
}


@media (min-width: 900px) {
    
    .upload__out-input-file,  
    .upload__out-upload-btn,
    .upload__out-play-btn,
    .upload__out-play {
        margin: 4vh 22vh;
    }

    .upload__title-div {
        margin: auto;
        justify-content: center;
    }

    .upload__label {
        margin: 4vh 22vh
    }
}

@media (min-width: 1050px) {

    .upload__out-input-file,  
    .upload__out-upload-btn,
    .upload__out-play-btn,
    .upload__out-play {
        width: 40vw;
        margin: 5vh auto;
    }

    .upload__tablecont {
        width: 40vw;
        margin: auto;
        padding-left: 4vw;
    }

    .upload__label {
        margin: 4vh 30%
    }
}

@media (min-width: 1700px) {
    .upload__label {
        margin: 4vh 10%
    }
}
