.upload {
    padding: 3vw 5vw;
    margin-top: -57%;
}


h1 {
    font-size: 1.6em;
    text-align: center;
    font-family: var(--title-font);
    padding-bottom: 4vh;
    margin: 2vh 0;
}


.upload__title-div {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 5vw

}

.upload__title-div-title {
    margin: 7vh 0 2vh 4vh; 
    font-family: var(--title-font);
    font-size: 1.3em;
}


.upload__img {
    width: 20px;
    height: 22px;
    margin-bottom: 2.5vh;
}


.upload__label {
    margin:  0 2vh 4vh;
    text-wrap: pretty;
    font-size: 0.9em;
    color: var(--lbl-text-color)
}

.upload__out {
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 5vh
}

.upload__out-input-file {
    padding-bottom: 2vh ;
    color: transparent;
    overflow: hidden;
}



.upload__out-input-file::-webkit-file-upload-button,  
.upload__out-upload-btn,
.upload__out-play-btn {
    margin: 0 3vh;
    padding: 0 3vw;
    background: var(--btn-bg-color);
    box-shadow: var(--btn-shadow-color1) 0px 6px 12px -2px, var(--btn-shadow-color1) 0px 3px 7px -3px;
    border-radius: 2vh;
    border-width: 0;
    height: 5vh;
    text-align: center;
    font-weight: 600;
}


.upload__out-input-file::file-selector-button:hover,
.upload__out-upload-btn:hover,
.upload__out-play-btn:hover {
    border-color: var(--btn-border-color);
    border-width: 1px;
    color: var(--btn-text-color);
}



.upload__out-input-file::file-selector-button:active,
.upload__out-upload-btn:active,
.upload__out-play-btn:active {
    border-width: 2px;
}







.upload__out-play {
    visibility: hidden;
    float: inline-end;

}

.upload__out-play-btn {
    visibility: hidden;
}

